/* font-family styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;600;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

/* primary css styles */



/* header section styles */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0px;
}

.header-titel {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: normal;
}

.helight {
    color: #FF42A5;
}

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 600;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

.heading-btn {
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}

/* banner section starts */
#banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;


}

.banner-content {
    background-image: url("../images/Group 14.png");
    background-repeat: no-repeat;
    background-size: 620px 600px;
    padding: 70px;
}

.banner-btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.banner-heading {
    text-align: center;
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

.banner-2nd-heading {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-para {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}

.banner-para span {
    padding-right: 5px;
}

.banner-btn-1 {
    width: 120px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 30px;
    background: #F948B2;
    border: none;
    padding: 10px;
}

.banner-btn-2 {
    width: 120px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 30px;
    background: #4EC5F7;
    border: none;
    padding: 10px;
}

.banner-img {

    width: 80%;
    height: auto;
}

/* section gamer starts */

#gamer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamerImage {
    width: 100%;
    height: auto;
}


.gamer-content {
    text-align: right;
    width: 75%;
}

.gamer-heading {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-para {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 0%;
}

.gamer-btn {
    width: 150px;
    text-align: center;
    gap: 10px;
}

.gamer-para-2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #534C64;
}

.gamer-para-2 small {
    font-size: 1rem;
    font-weight: 400;
}

/* online-game section starts */
#online-game {
    text-align: center;
}

.online-game-heading {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.online-game-para {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
}

.online-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 100px;
    text-align: left;
}

.online-card img {
    width: 100%;
    height: auto;
}

/* online-gamer hover styles */
.online-card-img :hover {

    -webkit-filter: brightness(30%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.online-icon :hover {
    opacity: 1;
}

.online-card-img {
    position: relative;
}

.online-icon {
    position: absolute;
    top: 35%;
    left: 40%;
    color: #FFF;
    /* background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s; */
}




/* section play starts */
#play {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding: 100px;
}

.play-images {
    position: relative;
}

.play-container {
    text-align: right;
    width: 85%;
}

.play-heading {
    font-size: 3rem;
    font-weight: 700;
}

.play-para {
    font-size: 1rem;
    font-weight: 400;
}

.play-img {
    width: 90%;
    height: auto;
}

.uper-img {
    bottom: -60px;
    left: -100px;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
    position: absolute;

}

.main-uper-img {
    width: 250px;
    height: auto;

}

/* section logo starts */
#logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;  
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 100px;
}

.logo-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 3px;
    border-radius: 50px;
    background: #f6f0f0;
    margin-left: 5px;
}

.btn-img {
    width: 20%;
}

/* section logo hover */
#logo :hover {
border: 1px solid rgb(219, 80, 126);
color: #FF42A5;
    

}

/* footer section starts */
footer {
    background-color: #0B0223;

}

.footer-titel {
    color: white;
}

footer nav li a {
    color: white;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.footer-para {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/* responsive styles */
/* responsive for mobile device */
@media screen and (max-width: 576px) {

    .header-titel{
            text-align: center;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: normal;
        }

.banner-content {
        background-image: url("../images/Group 14.png");
        background-repeat: no-repeat;
        background-size: 250px 250px;
        
    }


    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
    }

    nav>ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    nav li {
        padding: 10px;
    }

    #banner {
        grid-template-columns: 1fr;
        padding-left: 150px;
    }

    #gamer{
        grid-template-columns: 1fr;
        text-align: center;
          
    }
        .gamer-content {
            text-align: center;
            padding-left: 40px;
        }
    #online-game{
        text-align: center;
    }
    .online-game-heading {
        padding-left: 50px;
    }
    .online-game-para{
        padding-left: 50px;
    }
.online-card {
    flex-direction: column;
}
#play{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}
.play-img {
    width: 120%;
    height: auto;
}


.main-uper-img{
    width: 150px;
   
}
.uper-img{
    left: -50px;
}

#logo{
    grid-template-columns: 1fr 1fr;
padding: 20px;

    /* gap: 30px;
    padding-left: 80px; */
}

.logo-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 3px;
    border-radius: 50px;
    background: #f6f0f0;
    margin-left: 5px;
}


.footer-icon {
    flex-direction: column;
}

.footer-content{
    flex-direction: column;
}


}


/* tab devices responsive */
@media screen and (min-width: 578px) and (max-width: 768){
    header {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 100px;
        }
    
        nav>ul {
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
        }
    
        nav li {
            padding: 10px;
        }
    
        #banner {
            grid-template-columns: 1fr;
            padding-left: 150px;
        }
    
        #gamer {
            grid-template-columns: 1fr;
            padding-left: 100px;
    
        }
    
        #online-game {
            text-align: center;
        }
    
        .online-game-heading {
            padding-left: 100px;
        }
    
        .online-game-para {
            padding-left: 100px;
        }
    
        .online-card {
            flex-direction: column;
        }
    
        #play {
            grid-template-columns: 1fr;
            /* padding: 0px;
            margin: 0px; */
        }
    
        .play-img {
            width: 120%;
            height: auto;
        }
    
        .main-uper-img {
            width: 150px;
    
        }
    
        .uper-img {
            left: -50px;
        }
    
   #logo {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       justify-content: center;
       align-items: center;
       margin: auto;
       padding: 100px;
   }
                .logo-btn {
                    
                   
                  
                    padding: 30px;
                    border-radius: 50px;
                    background: #f6f0f0;
                    margin-left: 5px;
                }
    
        .footer-icon {
            flex-direction: column;
        }
    
        .footer-content {
            flex-direction: column;
        }


}








